@import url(./reset.css);
@import url(./../fonts/bebasneue/stylesheet.css);
@import url(./../fonts/gotham/stylesheet.css);

:root {
  --accent-color: #f6712b;
  --k: calc(1vw+1vh);
}

*,
html {
  scroll-behavior: smooth;
}

body {
  background-color: #e9e9e9;
  font-family: "Gotham Pro";
  font-weight: 400;
}

/* BASE */
.container {
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 15px;
}

.animated {
  transition-delay: 0s;
}

.btn {
  display: block;
  margin: 0 auto;
  padding: 15px 60px;
  background-color: var(--accent-color);
  border-radius: 0.5rem;
  font-family: "Gotham Pro";
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}

.btn:hover {
  background-color: #121212;
  box-shadow: 0px 15px 20px rgba(246, 114, 43, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.btn:active {
  transform: translateY(-1px);
}

.title b {
  color: var(--accent-color);
}

.title {
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

@media (max-width: 1300px) {
  .btn {
    font-size: calc(var(--k) * 1.5);
  }
}
@media (max-width: 700px) {
  .btn {
    font-size: calc(var(--k) * 3.5);
    padding: 10px 40px;
  }
}
/* HERO */

.hero {
  position: relative;
  padding: 8vh 0;
  height: 100vh;
  height: 100dvh;
  color: #fff;

  background-size: cover;
  background-position: center center;
}
.hero::after {
  position: absolute;
  content: "";
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.hero__content {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}
.hero__logo {
  margin-bottom: 10vh;
}
.hero__title {
  font-size: 200px;
  line-height: 0.9;
  text-align: center;

  transform: translateY(5vh);
  opacity: 0;
}

.hero__title:first-of-type {
  transition: all 1s ease 0s;
}
.hero__title:last-of-type {
  margin-bottom: 6vh;
  transition: all 1s ease 0.3s;
}

.hero__title.animated {
  transform: translateY(0);
  opacity: 1;
}

.hero__subtitle {
  margin-bottom: 12vh;
  font-family: "Gotham Pro";
  font-weight: 400;
  font-size: 28px;

  letter-spacing: 5px;
  opacity: 0;

  transition: all 1s ease 0.8s;
}
.hero__subtitle.animated {
  letter-spacing: normal;
  opacity: 1;
}

.hero__btn {
  opacity: 0;
}
.hero__btn.animated {
  opacity: 1;
}
.hero__btn:hover {
  background-color: #fff;
  color: #000;
}

@media (max-width: 1300px) {
  .hero__title {
    font-size: calc(var(--k) * 15);
  }
  .hero__subtitle {
    font-size: calc(var(--k) * 2);
  }
}
@media (max-width: 700px) {
  .hero {
    background-size: cover;
    background-position: 35% center;
  }
  .hero__title {
    font-size: calc(var(--k) * 20);
  }
  .hero__subtitle {
    margin-bottom: 20vh;
    font-size: calc(var(--k) * 4);
  }
}

/* VIDEO */
.video__content {
  padding: 10vh 0;
}

.video__title {
  font-size: 170px;
  text-align: center;

  transform: translate(0, 150%);

  transition: all 1s ease 0.2s;
}
.video__title.animated {
  transform: translate(0, 0);
}
.video__video {
  margin: 5vh 0 8vh 0;
  position: relative;
  display: flex;
  justify-content: center;
}
.video__preview {
  border-radius: 1rem;
}
.video__play {
  position: absolute;
  inset: 0;
}

.video__play svg {
  transition: all 0.3s ease 0s;
  max-width: 10vw;
}

.video__play:hover svg {
  transform: scale(1.08);
}
.video__play svg path {
  transition: all 0.3s ease 0s;
}
.video__play:hover svg path {
  fill: var(--accent-color);
}

@media (max-width: 1300px) {
  .video__content {
    padding: 10vh 0 5vh;
  }
  .video__title {
    font-size: calc(var(--k) * 12);
  }
}

/* TOOLS */
.tools {
  padding: 10vh 0 20vh 0;
}
.tools .title {
  font-size: 155px;
}
.tools__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tools__title-1 {
  margin-left: 12.5%;
  transform: translate(0, 150%);
  z-index: -1;
  transition: all 1s ease 0.2s;
}
.tools__title-2 {
  position: absolute;
  top: 0;
  left: 0;
  writing-mode: vertical-rl;
  transform: translate(200%, 0) rotate(180deg);
  z-index: -1;
  transition: all 1s ease 0.2s;
}

.tools__title-1.animated {
  transform: translate(0, 0);
}
.tools__title-2.animated {
  transform: translate(0, 0) rotate(180deg);
}

.item__img {
  width: 75%;

  border-radius: 1rem;
}
.item__title {
  position: absolute;
  top: 50%;
  writing-mode: vertical-rl;
  z-index: -1;
  transition: all 1s ease 0.6s;
}

.item__subtitle {
  margin: 5vh auto 10vh;
  font-size: 25px;
  text-align: center;
  letter-spacing: 2px;
  opacity: 0;

  transition: all 1s ease 0.3s;
}
.item__subtitle.animated {
  letter-spacing: normal;
  opacity: 1;
}

.tools__item:nth-child(2) .item__title {
  right: 20%;
  transform: translateY(-50%);
  opacity: 0;
}
.tools__item:nth-child(2) .item__title.animated {
  right: 0;
  opacity: 1;
}

.tools__item:nth-child(4) .item__title {
  left: 20%;
  transform: rotate(180deg) translateY(50%);
  opacity: 0;
}
.tools__item:nth-child(4) .item__title.animated {
  left: 0;
  opacity: 1;
}

.tools__item:nth-child(6) .item__title {
  right: 10%;
  transform: translateY(-50%);
  opacity: 0;
}
.tools__item:nth-child(6) .item__title.animated {
  right: 0;
  opacity: 1;
}

@media (max-width: 1300px) {
  .tools .title {
    font-size: calc(var(--k) * 10);
  }
  .item__subtitle {
    font-size: calc(var(--k) * 2);
  }
}
@media (max-width: 700px) {
  .item__subtitle {
    margin: 2vh auto 5vh;
    width: 75%;
    font-size: calc(var(--k) * 2.65);
  }
}

/* WEDDING */
.wedding {
  background-color: var(--accent-color);
  padding: 10vh 0;
}

.wedding__desc {
  margin: 0 auto;
  width: 80%;
  font-size: 32px;
  line-height: 1.3;
  text-align: center;
  color: #fff;
}

@media (max-width: 1300px) {
  .wedding__desc {
    width: 90%;
    font-size: calc(var(--k) * 2.4);
  }
}
@media (max-width: 700px) {
  .wedding__desc {
    width: 90%;
    font-size: calc(var(--k) * 3.8);
  }
}
/* QUESTIONS */
.questions {
  padding: 20vh 0;
}

.questions__title {
  margin-bottom: 5vh;
  font-size: 156px;
  text-align: center;
}

.questions__feedback {
  margin: 0 auto 10vh;
  width: 50%;
  font-size: 32px;
  line-height: 1.3;
  text-align: center;
}

@media (max-width: 1300px) {
  .questions {
    padding: 10vh 0;
  }
  .questions__title {
    font-size: calc(var(--k) * 12);
  }
  .questions__feedback {
    font-size: calc(var(--k) * 2);
  }
}

@media (max-width: 700px) {
  .questions__feedback {
    font-size: calc(var(--k) * 3);
  }
}

/* FOOTER */
.footer {
  padding: 10vh 0;
  background-color: #dcdcdc;
}
.footer__links {
  display: flex;
  justify-content: center;
  column-gap: 5vw;
}

.footer__link {
  padding: 2vw;
  display: grid;
  place-items: center;
  background-color: #000;
  border-radius: 8rem;
  transition: all 0.3s ease 0s;
}

.footer__link:hover {
  background-color: var(--accent-color);
  transform: scale(1.05);
}

.footer__link img {
  height: 90%;
}
@media (max-width: 1300px) {
  .footer {
    padding: 10vh 0;
  }
}
@media (max-width: 700px) {
  .footer {
    padding: 5vh 0;
  }
  .footer__links {
    column-gap: 7vw;
  }
  .footer__link img {
    height: 70%;
  }
}
